<div class="center jumbotron">
  <h3><%= t ".content" %></h3>

  <%= link_to (t ".signup"), "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("framgia_logo.jpg", alt: "rails logo"),
  "http://rubyonrails.org/" %>



